.about {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }
  
  .about-section {
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    animation: slideIn 1s ease-in forwards;
  }
  
  .about-section:nth-child(even) {
    transform: translateX(100%);
  }
  
  .about-us-heading {
    color: #6495ED;
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .about-title {
    color: #6495ED;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .about-us-text, .about-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }