.main-chat-list {
    border-right: 1px solid #ebe7fb;
    padding: 0 40px 0 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.chat-list-heading {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    color: #6495ED;
}

.btn-nobg {
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    outline: none;
    transition: color 0.3s;
}

.btn-nobg:hover {
    color: #ADD8E6;
}


.chat-list-items {
    margin-top: 30px;
    overflow-y: scroll;
    gap: 5px;
    flex-grow: 1;
    margin-bottom: 50px;
    
    border-radius: 10px;
}

.chat-list-item {
    height: 7%;
    overflow: hidden;
    line-height: 40px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #87CEFA;
    background-color: #6495ED;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px; 
    padding: 10px 10px 10px 20px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
    transform: scale(1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.chat-list-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    color:#87CEFA;
}

@keyframes showIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}

.btn {
    height:40px;
    border-radius:5px;
    border:none;
    font-size: 1.4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    background: #6495ED;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
}

.btn:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.chat-list-heading {
    height: 45px;
}

.chat-list-search {
    height: 45px;
}