.footer-main {
    z-index: 9999;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    background-color: #6495ED;
    position:fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
}


