.register-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap:30px;
}

.register-form {
    display:flex;
    flex-direction: column;
    gap:20px;
    width: 80%;
    max-width:400px;
}

.register-form label {
    font-size: 25px;
}

.offscreen {
    display:none;
    flex: 1;
}

#register-heading {
    font-size: 40px;
}
#register-login-redirect {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-input {
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size:22px;
}

#register-button {
    height: 45px;
    box-shadow: none;
    border: 0;
    color: white;
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
    font-weight:600px;
}

#register-button:hover {
    color:#6495ED;
}

#register-button:active {
    transform: translateY(-5px);
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #6495ED;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
    font-size: 12px;
}